@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss";

@theme{
    --font-stylishFont: "Quintessential", serif
}

html, body{
    font-family: "Tinos", serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #f5f5dc;
    color: #493628;
    min-width: 100vw;
    min-height: 100vh;

}



    

